body {
  font-family: 'Roboto', sans-serif;
  background: salmon;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, lightseagreen, salmon);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, lightseagreen, salmon); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1 {
  background-color: lightseagreen;
  color: white;
  margin: 0;
  padding: 10px 20px;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 400;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#container {
  width: 360px;
  margin: 100px auto;
  background-color: rgb(250, 128, 114, .7);
  box-shadow: 0 0 3px rgba(0, 0, 0, .3);
}

li {
  background-color: salmon;
  height: 40px;
  line-height: 40px;
  color: #333;
  padding-left: 20px;
  transition: all .2s ease-out;
}

li:nth-child(2n) {
  background-color: rgb(250, 128, 114, .7);
}

li:hover {
  cursor: pointer;
  transform: scale(1.02);
  border-radius: 5px; 
}

input {
  font-size: 18px;
  background-color: white;
  width: 100%;
  padding: 13px 13px 13px 20px;
  box-sizing: border-box;
  color: lightseagreen;
  border: 1px solid rgba(0,0,0,0);
}

input:focus {
  border: 2px solid lightseagreen;
  outline: none;
}

input::placeholder {
  color: lightseagreen;
  font-style: italic;
}

span {
  background-color: lightseagreen;
  height: 40px;
  text-align: center;
  color: white;
  width: 0;
  float: right;
  opacity: 0;
  transition: all .2s ease-out;
}

li:hover span {
  width: 40px;
  opacity: 1;
  border-radius: 0 5px 5px 0;
}

.completed {
  color: gray;
  text-decoration: line-through;
}

.fa-plus {
  float: right;
}